.header {
    display: flex;
    align-items: end;
    padding-top: 20px;
    margin-bottom: 80px;
}

.logo {
    font-weight: 700;
    font-size: 2rem;
    padding: 0;
    margin: 0 40px 0 0;
}