.battlefield-cell-content {
    position: relative;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 10px;
}

.battlefield-cell--dead {
    background-color: red;
}

.battlefield-cell--busy {
    background-color: #00f;
}

.battlefield-cell--empty {
    background-color: #e1e1e1;
}